#lh-popup {
    all: unset !important;
    display: block !important;
    position: fixed !important;
    z-index: 2147483647 !important;
    pointer-events: none !important;
    visibility: visible !important;
    opacity: 1 !important;
}
